asgiref==3.5.2
attrs==22.1.0
autobahn==22.7.1
Automat==20.2.0
cffi==1.15.1
channels==3.0.5
constantly==15.1.0
cryptography==37.0.2
cssselect==1.1.0
daphne==3.0.2
dj-database-url==1.0.0
Django==4.0.5
django-cors-headers==3.13.0
django-jsignature==0.11
django-multiselectfield==0.1.12
django-qr-code==3.1.0
django-rest-knox==4.2.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
lxml==4.9.1
msgpack==1.0.4
Pillow==9.2.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyquery==1.4.3
pytz==2022.1
segno==1.5.2
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.4.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.3.0
tzdata==2022.1
zope.interface==5.4.0