{% extends "main/layout.html"%}

{% block title %}Customer{% endblock %}

{%block head_extra%}
<style>
    .cards {
        border-radius: 5px;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
    }
</style>
{%endblock%}

{%block content%}
    <div id="app" v-cloak>
        <div class="grid">
            <div class="cards g-col-12 py-3 px-4">
                <div class="fs-2 fw-semibold " style="margin-bottom: 30px;">CUSTOMER DETAIL</div>
                <div class="grid">
                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">First Name</div>
                            <div class="g-col-8">{{client_info.first_name}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Last Name</div>
                            <div class="g-col-8">{{client_info.last_name}}</div>
                        </div>
                    </div>
                    
                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Health Insurance / Reference Number</div>
                            <div class="g-col-8">{{client_info.health_insurance_number}} / {{client_info.reference_number}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Email</div>
                            <div class="g-col-8">{{client_info.email|default:"N/A"}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">DOB</div>
                            <div class="g-col-8">{{client_info.DOB|default:"N/A"}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Phone (day) / (night)</div>
                            <div class="g-col-8">{{client_info.phone_day|default:"N/A"}} / {{client_info.phone_night|default:"N/A"}}</div>
                        </div>
                    </div>


                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Address / Suburb / State / Post Code</div>
                            <div class="g-col-8">{{client_info.address|default:"N/A"}} {{client_info.suburb|default:"N/A"}} {{client_info.state|default:"N/A"}} {{client_info.post_code|default:"N/A"}}</div>
                        </div>
                    </div>




                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Occupation</div>
                            <div class="g-col-8">{{client_info.occupation|default:"N/A"}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Employer</div>
                            <div class="g-col-8">{{client_info.employer|default:"N/A"}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Primary Physician</div>
                            <div class="g-col-8">{{client_info.primary_physician|default:"N/A"}}</div>
                        </div>
                    </div>

                    
                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Emergency Contact Name</div>
                            <div class="g-col-8">{{client_info.emergency_contact_name|default:"N/A"}}</div>
                        </div>
                    </div>
                    
                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Emergency Contact Number</div>
                            <div class="g-col-8">{{client_info.emergency_contact_number|default:"N/A"}}</div>
                        </div>
                    </div>

                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Emergency Contact Relationship</div>
                            <div class="g-col-8">{{client_info.emergency_contact_relationship|default:"N/A"}}</div>
                        </div>
                    </div>


                    <div class="g-col-12">
                        <div class="grid">
                            <div class="g-col-4 fw-semibold">Date Created</div>
                            <div class="g-col-8">{{client_info.date_created}}</div>
                        </div>
                    </div>
                    

                    <div class="g-col-12">
                        <a class="btn btn-primary" href="../edit/{{client_info.id}}/" style="margin-right: 10px">Edit</a>
                        <a class="btn btn-outline-primary" href="../">Back</a>
                    </div>
                </div>
                
            </div>

            <div class="cards g-col-12 py-3 px-4">
                <div class="fs-2 fw-semibold " style="margin-bottom: 30px;">REMEDIAL HISTORY</div>
                <div class="grid" style="margin-bottom: 30px">

                    <div class="accordion g-col-12" id="according-wrapper">
                        <div v-for="history in histories" class="accordion-item">
                            <h2 class="accordion-header" :id="'history-' + history.id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#history-collapse-' + history.id" aria-expanded="false" :aria-controls="'history-collapse-' + history.id">
                                [[history.date_created]]
                                </button>
                            </h2>
                            <div :id="'history-collapse-' + history.id" class="accordion-collapse collapse" :aria-labelledby="'history-' + history.id" data-bs-parent="#according-wrapper">
                                <div class="grid px-4 py-4" v-if="!history.is_photo_only">
                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Medications</div>
                                            <div class="g-col-8" >[[history.medication]]</div>
                                        </div>
                                    </div>
                                    
                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Medication Details</div>
                                            <div class="g-col-8" v-if="history.medication_detail">[[history.medication_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>
                                    

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Pregnant</div>
                                            <div class="g-col-8" >[[history.pregnant]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Pregnant Time</div>
                                            <div class="g-col-8" v-if="history.pregnant_time">[[history.pregnant_time]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Pregnant High Risk Factor</div>
                                            <div class="g-col-8" v-if="history.pregnant_factor">[[history.pregnant_factor]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Chronic Pain</div>
                                            <div class="g-col-8" >[[history.chronic_pain]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Chronic Pain Detail</div>
                                            <div class="g-col-8" v-if="history.chronic_pain_detail">[[history.chronic_pain_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Chronic Pain Worse</div>
                                            <div class="g-col-8" v-if="history.chronic_pain_worse">[[history.chronic_pain_worse]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>


                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Chronic Pain Better</div>
                                            <div class="g-col-8" v-if="history.chronic_pain_better">[[history.chronic_pain_better]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>



                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Orthopedic Injuries</div>
                                            <div class="g-col-8" >[[history.orthopedic_injuries]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Orthopedic Injuries Detail</div>
                                            <div class="g-col-8" v-if="history.orthopedic_injuries_detail">[[history.orthopedic_injuries_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>


                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Conditions</div>
                                            <div class="g-col-8" >[[history.conditions]]</div>
                                        </div>
                                    </div>
                                    
                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Conditions Detail</div>
                                            <div class="g-col-8" v-if="history.conditions_detail">[[history.conditions_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>


                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Had Professional Massage?</div>
                                            <div class="g-col-8" >[[history.professional_massage]]</div>
                                        </div>
                                    </div>
                                    

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Prefer Massage Type</div>
                                            <div class="g-col-8" >[[history.massage_type]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Massage Type Other</div>
                                            <div class="g-col-8" v-if="history.massage_type_other">[[history.massage_type_other]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Pressure Preference</div>
                                            <div class="g-col-8" >[[history.pressure_preference]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Allergies</div>
                                            <div class="g-col-8" >[[history.allergies]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Allergies Detail</div>
                                            <div class="g-col-8" v-if="history.allergies_detail">[[history.allergies_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">No Massage Area</div>
                                            <div class="g-col-8" >[[history.no_massage_area]]</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">No Massage Area Detail</div>
                                            <div class="g-col-8" v-if="history.no_massage_area_detail">[[history.no_massage_area_detail]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Area of soreness</div>
                                            <img class="g-col-6"style="width: 100%;" :src="history.area_of_soreness" v-if="history.area_of_soreness.length">
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>



                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Goal for this treatment session</div>
                                            <div class="g-col-8" v-if="history.reason_of_visit">[[history.reason_of_visit]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    



                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Remedial Treatment Plan</div>
                                            <div class="g-col-8" v-if="history.remedial_treatment_plan" >[[history.remedial_treatment_plan]]</div>
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Receipt</div>
                                            <img class="g-col-6" style="width: 100%;" :src="history.receipt_image" v-if="history.receipt_image.length">
                                            <div class="g-col-6" v-else>N/A</div>
                                            
                                            

                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Signature</div>
                                            <img class="g-col-6" style="width: 100%;"  :src="history.signature" v-if="history.signature.length">
                                            <div class="g-col-8" v-else>N/A</div>
                                        </div>
                                    </div>

                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Upload Receipt / Add Treatment Plan</div>
                                            <div class="g-col-6 input-group">
                                                <input class="form-control " id="formFileSm" type="file" @change="uploadReceipt([[history.id]])">
                                                <button style="" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="getTreatmentPlanNote(history.id)">
                                                    Add Treatment Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="grid px-4 py-4" v-else>
                                    <div class="g-col-12">
                                        <div class="grid">
                                            <div class="g-col-4 fw-semibold">Form Image</div>
                                            <img class="g-col-6"style="width: 100%;" :src="history.form_image" v-if="history.form_image.length">
                                            <div class="g-col-6" v-else>N/A</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="form-control " id="uploadFormImage" type="file" hidden @change="uploadFormImage($event)">
                <label for="uploadFormImage" type="button" class="btn btn-primary btn-lg btn-block">
                    Upload Form Image
                </label>
            </div>

            
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="modal-title" id="exampleModalLabel">Treatment Plan</h5> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="grid">
                        <div class="g-col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px" v-model="treatmentPlanNote"></textarea>
                                <label for="floatingTextarea2">Treatment Plan</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="setTreatmentPlanNote">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <script>
        const histories = JSON.parse('{{client_remedial_history|escapejs}}')
        const app = Vue.createApp({

            data() {
                
                return {
                    histories: histories,
                    clientDetailId: {{client_info.client_detail_id}},
                    treatmentPlanNote: "",
                    treatmentPlanNoteId: null
                }
            },
            
            methods: {
                uploadReceipt(id){
                    let image = event.target.files[0]
                    let url = "/upload_receipt/"
                    let data = new FormData()
                    
                    data.append("image", image)
                    data.append("id", id)
                    
                    let config = {
                        headers: {
                            "X-CSRFToken": csrftoken,
                            "content-type": "multipart/form-data"
                        }
                    }

                    removeToast($("#loading-toast"))
                    openLoadingToast({message:"Uploading image...", id:"loading-toast"})
                    axios
                        .post(url, data, config)
                        .then(response=>{
                            removeToast($("#loading-toast"))
                            openSuccessToast({message:"Receipt uploaded. Refresh page to see changes."})
                        })
                        .catch(error =>{
                            removeToast($("#loading-toast"))
                            openErrorToast({message:JSON.stringify(error.message)})
                        })
                },

                uploadFormImage(event){
                    let image = event.target.files[0]
                    let url = "/upload_form_img/"
                    let data = new FormData()
                    
                    data.append("image", image)
                    data.append("client_id", this.clientDetailId)
                    
                    let config = {
                        headers: {
                            "X-CSRFToken": csrftoken,
                            "content-type": "multipart/form-data"
                        }
                    }

                    removeToast($("#loading-toast"))
                    openLoadingToast({message:"Uploading image...", id:"loading-toast"})
                    axios
                        .post(url, data, config)
                        .then(response=>{
                            removeToast($("#loading-toast"))
                            openSuccessToast({message:"Image uploaded. Refresh page to see changes."})
                        })
                        .catch(error =>{
                            removeToast($("#loading-toast"))
                            openErrorToast({message:JSON.stringify(error.message)})
                        })
                },


                getTreatmentPlanNote(id){
                    this.treatmentPlanNoteId = id
                    let url = "/get_treatment_plan_note/"

                    let data = {
                        params: {
                            id: id
                        }
                    }

                    let config = {
                        headers: {
                            "X-CSRFToken": csrftoken
                        }
                    }

                    axios
                        .get(url, data, config)
                        .then(response=>{
                            this.treatmentPlanNote = response.data.note
                        })
                        .catch(error=>{
                            console.log(error)
                        })
                },
                setTreatmentPlanNote(){
                    let url = "/set_treatment_plan_note/"
                    let data = new FormData()
                    
                    data.append("note", this.treatmentPlanNote)
                    data.append("id", this.treatmentPlanNoteId)
                    

                    let config = {
                        headers: {
                            "X-CSRFToken": csrftoken
                        }
                    }
                    
                    removeToast($("#treatment-plan-loading"))
                    openLoadingToast({message: "Submitting...", id:"treatment-plan-loading"})
                    
                    axios
                        .post(url, data, config)
                        .then(response=>{
                            this.updateTreatmentPlanLocally()
                            this.resetTreatmentNoteAndId()
                            removeToast($("#treatment-plan-loading"))
                            openSuccessToast({message:"Treatment plan note uploaded."})

                        })
                        .catch(error=>{
                            this.resetTreatmentNoteAndId()
                            removeToast($("#treatment-plan-loading"))
                            openErrorToast({message:"Failed to contact to server."})
                        })
                },
                resetTreatmentNoteAndId(){
                    this.treatmentPlanNoteId = null
                    this.treatmentPlanNote = ""
                },
                updateTreatmentPlanLocally(){
                    this.histories[this.histories.findIndex(history => history.id == this.treatmentPlanNoteId)].remedial_treatment_plan = this.treatmentPlanNote
                }
            },
            mounted() {
            },
        })

        app.config.compilerOptions.delimiters = ['[[', ']]'];
        app.config.devtools = true
        app.mount("#app")
    </script>
{%endblock%}
