{% extends "main/layout.html"%}

{% block title %}Customers{% endblock %}

{%block head_extra%}

    <style>
        /* #search-card{
            height: 100px;
        } */

        #customer-list-card{
            height: 400px;
        }

        .cards{
            border-radius: 5px;
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        }

        [v-cloak] {display: none}
    </style>
{%endblock%}

{%block content%}

    <div id="app" v-cloak>

        <div class="grid">

            <div id="search-card" class="cards g-col-12 py-3 px-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Client's Name" aria-label="Client's Name" aria-describedby="search-btn">
                    <button class="btn btn-outline-primary" type="button" id="search-btn">Search</button>
                </div>
            </div>

            <div id="customer-list-card" class="cards g-col-12 py-3 px-4">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Remedial Number / Suffix</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr v-if="!clients.length">
                            <td colspan="4">No Entries Found.</td>
                        </tr>
                        <tr v-else v-for="client in clients">
                            <td>[[client.first_name]]</td>
                            <td>[[client.last_name]]</td>
                            <td>[[client.health_insurance_number]]/[[client.suffix]]</td>
                            <td>[[client.date_created]]</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>
    </div>
    

    <script>
        const clients = JSON.parse('{{client_json|safe}}')
        const app = Vue.createApp({

            data() {
                
                return {
                    delay: 1000, 
                    clients: clients,

                }
            },
            
            methods: {

                

            },
            mounted() {
            },
        })

        app.config.compilerOptions.delimiters = ['[[', ']]'];
        app.config.devtools = true
        app.mount("#app")
    </script>

{%endblock%}
