{% extends "main/layout.html"%}

{% block title %}Dashboard{% endblock %}

{%block head_extra%}
    <style>
        #new-member-card{
            height: 250px;
        }

        #status-card{
            height: 250px;
        }

        #recent-added-card{
            height: 250px;
        }

        .cards{
            border-radius: 5px;
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        }

    </style>
{%endblock%}

{%block content%}

    <div class="grid">

        <div id="new-member-card" class="cards g-col-4">
            123
        </div>

        <div id="status-card" class="cards g-col-8">
            123
        </div>

        <div id="recent-added-card" class="cards g-col-12">
            123
        </div>
        
    </div>

{%endblock%}
