<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-migrate-1.4.1.js' %}"></script>
        <!-- Vue -->
        {% if DEBUG %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.js"></script>
        {% else %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.prod.js"></script>
        {% endif %}

        <!-- Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!-- open sans -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap">


        <script type="text/javascript" src="{%static 'lib/bootstrap/bootstrap.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/toast.js'%}"></script>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel='stylesheet' type='text/css' href="{%static 'global_css/global.css'%}" />
        {% block head_extra %}{% endblock %}


        
    </head>

    <body>
        <div id="header"></div>
          <div id="main-content container h-100">
            <div id="app" class="grid" v-cloak>
              <div class="g-col-12 g-col-md-6">
            
                <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 25%;">
            
                  
                  <form id="login-form" method="POST">
                    {% csrf_token %}
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
                    <div class="form-floating mb-3 input-group-sm">
                      <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" value="{{username}}" >
                      <label for="floatingInput">username</label>
                    </div>
              
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" value="{{password}}" >
                        <label for="floatingPassword">Password</label>
                    </div>
              
                  
              
                    <div class="pt-1 mb-4">
                      <button class="btn btn-outline-primary" type="submit" >Login</button>
                    </div>
              
                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password? Contact..</a></p>

                    <!-- Force Login attempt -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered ">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">This account is already logged in!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <div class="grid">
                                  <div class="g-col-12">
                                      <div class="position-relative top-50 start-50 translate-middle" style="width: fit-content;" id="qrcode">
                                          <div style="color:#222222">For security reasons, repeated duplicated login attemps may result in account access being restricted.</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-danger" name="force-login" value="true" type="submit">Force Login</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
                  
              </div>
              
              <div class="d-none d-md-block g-col-md-6 order-3">
                <img src="{% static 'img/login_cover.jpg' %}"
                alt="Login image" class="w-100 vh-100" style="object-fit:cover; object-position: left;">
            
              </div>
            
            </div>
            
            
          </div>

        <!-- toast wrapper -->
        <div id="_snf5-toast-message-global-wrapper" class="" ></div>

        
        <div id="footer"></div>

        <script>

          $(window).load(function() {
            var error = {{error|safe|default:"false"}};
            var alreadyLoggedIn = {{already_logged_in|default:"false"|safe}};
            if(alreadyLoggedIn){
              $('#exampleModal').modal("show");
            }else if(error){
                openErrorToast({
                    message:error
                })
            }
          });
        
      </script>


    </body>

</html>


{%block content%}


{%endblock%}
