{% extends "form/layout.html"%}
{% load filter_tag %}
{% load static %}
{% block title %}Client Intake Form{% endblock %}

{%block head_extra%}
<style>
    .colorButtons {
        display: block;
        margin: 20px 0;
    }

    canvas {
        cursor: crosshair;
        border: 1px solid black;
    }

    div#sidebar {
        position: absolute;
        left: 0;
        width: 150px;
        padding: 20px 20px;
        top: 0;
    }

    canvas#canvas {
        left: 150px;
        top: 45px;
    }

    .btn {
        margin-bottom: 10px;
        width: 100%;
    }

    /* input {
        width: 100%;
        margin-bottom: 10px;
    } */

    .input-group {
        margin-bottom: 10px;
    }

    .toolsButtons .btn {
        width: 48%;
    }

    .sizeButtons .btn {
        width: 48%;
    }

    .colorpicker {
        background: transparent;
        height: 40px;
    }

    .js-paint {
        touch-action: none;
    }

    input[type="date"] {
        -webkit-appearance: none;
    }

    .form-control,
    .form-label {
        font-size: 1.5rem;
    }
</style>

<script type="text/javascript" src="{%static 'js/canvas_drawing.js'%}" defer></script>
{%endblock%}

{%block content%}
<div id="form-card">
    <div class="cutsomer-form-wrapper">
        <div style="margin-bottom: 30px;">

            {% if remedial_form %}
            <div style="color:#2c2c2c; font-size: 16px; margin-bottom: 20px;font-size: 1.5rem;">Please provide at least
                one of the following <b>email</b>, <b>mobile</b> or <b>home phone</b>.</div>
            {% endif %}
            {% if not client_form %}
            <div style="color:#959595;font-size: 1.5rem; "><span style="color:red;font-size: 1.5rem;">*</span> Required
                information</div>
            {% endif %}
            {{client_form.errors}}
            {{detailed_client_form.errors}}
            {{client_medical_history_form.errors}}
            {% for error in client_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
            {% for error in detailed_client_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
            {% for error in client_medical_history_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
        </div>



        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="grid" style="row-gap: 20px;">
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        First Name
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="text"
                        class="form-control {%if client_form.first_name.errors%}is-invalid{%elif client_form.first_name.value%}is-valid{%endif%}"
                        name="first_name" 
                        value="{{client_form.first_name.value|default_if_none:''}}"
                        maxlength="{{client_form.first_name.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Last Name
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="text"
                        class="form-control {%if client_form.last_name.errors%}is-invalid{%elif client_form.last_name.value%}is-valid{%endif%}"
                        name="last_name" 
                        value="{{client_form.last_name.value|default_if_none:''}}"
                        maxlength="{{client_form.last_name.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Health Insurance Number
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.health_insurance_number.errors%}is-invalid{%elif client_form.health_insurance_number.value%}is-valid{%endif%}"
                        name="health_insurance_number"
                        value="{{client_form.health_insurance_number.value|default_if_none:''}}"
                        maxlength="{{client_form.health_insurance_number.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Reference Number
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.reference_number.errors%}is-invalid{%elif client_form.reference_number.value%}is-valid{%endif%}"
                        name="reference_number" 
                        value="{{client_form.reference_number.value|default_if_none:''}}"
                        maxlength="{{client_form.reference_number.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Email
                    </label>

                    <input 
                        type="email"
                        class="form-control {%if client_form.email.errors%}is-invalid{%elif client_form.email.value%}is-valid{%endif%}"
                        name="email" 
                        value="{{client_form.email.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        DOB
                    </label>

                    <input 
                        type="date"
                        class="form-control {%if client_form.DOB.errors%}is-invalid{%elif client_form.DOB.value%}is-valid{%endif%}"
                        name="DOB" 
                        value="{{client_form.DOB.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Phone (Day)
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.phone_day.errors%}is-invalid{%elif client_form.phone_day.value%}is-valid{%endif%}"
                        name="phone_day" 
                        value="{{client_form.phone_day.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Phone (Evening)
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.phone_night.errors%}is-invalid{%elif client_form.phone_evening.value%}is-valid{%endif%}"
                        name="phone_night" 
                        value="{{client_form.phone_night.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Address
                    </label>
                    {{detailed_client_form.address.errors}}
                    <input 
                        type="text"
                        class="form-control {%if detailed_client_form.address.errors%}is-invalid{%elif detailed_client_form.address.value%}is-valid{%endif%}"
                        name="address" 
                        value="{{detailed_client_form.address.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Suburb
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.suburb.errors%}is-invalid{%elif detailed_client_form.suburb.value%}is-valid{%endif%}"
                        name="suburb" value="{{detailed_client_form.suburb.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        State
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.state.errors%}is-invalid{%elif detailed_client_form.state.value%}is-valid{%endif%}"
                        name="state" value="{{detailed_client_form.state.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Post Code
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.post_code.errors%}is-invalid{%elif detailed_client_form.post_code.value%}is-valid{%endif%}"
                        name="post_code" value="{{detailed_client_form.post_code.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Occupation
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.occupation.errors%}is-invalid{%elif detailed_client_form.occupation.value%}is-valid{%endif%}"
                        name="occupation" value="{{detailed_client_form.occupation.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Employer
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.employer.errors%}is-invalid{%elif detailed_client_form.employer.value%}is-valid{%endif%}"
                        name="employer" value="{{detailed_client_form.employer.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Primary Physician
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.primary_physician.errors%}is-invalid{%elif detailed_client_form.primary_physician.value%}is-valid{%endif%}"
                        name="primary_physician"
                        value="{{detailed_client_form.primary_physician.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Emergency Contact Name
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_name.errors%}is-invalid{%elif detailed_client_form.emergency_contact_name.value%}is-valid{%endif%}"
                        name="emergency_contact_name"
                        value="{{detailed_client_form.emergency_contact_name.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Emergency Contact Number
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_number.errors%}is-invalid{%elif detailed_client_form.emergency_contact_number.value%}is-valid{%endif%}"
                        name="emergency_contact_number"
                        value="{{detailed_client_form.emergency_contact_number.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Relationship
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_relation.errors%}is-invalid{%elif detailed_client_form.emergency_contact_relation.value%}is-valid{%endif%}"
                        name="emergency_contact_relation"
                        value="{{detailed_client_form.emergency_contact_relation.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        How did you hear about us?
                    </label>
                    <textarea
                        class="form-control {%if detailed_client_form.hear_about_us.errors%}is-invalid{%elif detailed_client_form.hear_about_us.value%}is-valid{%endif%}"
                        name="hear_about_us" rows="5">{{detailed_client_form.hear_about_us.value|default_if_none:''}}</textarea>
                </div>



                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are you taking any medication ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="medication"
                            id="medication-yes"
                            value="true"
                            {% if client_medical_history_form.medication.value %} checked {%endif%}>

                        <label class="form-check-label" for="medication-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="medication"
                            id="medication-no"
                            value="false"
                            {% if client_medical_history_form.medication.value is False %} checked {%endif%}>

                        <label class="form-check-label" for="medication-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please list name and use
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.medication_detail.errors%}is-invalid{%elif client_medical_history_form.medication_detail.value%}is-valid{%endif%}"
                        name="medication_detail" 
                        rows="5">{{client_medical_history_form.medication_detail.value|default_if_none:''}}</textarea>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are you currently pregnant ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="pregnant"
                            id="pregnant-yes"
                            value="true"
                            {% if client_medical_history_form.pregnant.value %} checked {%endif%}>
                        <label class="form-check-label" for="pregnant-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="pregnant"
                            id="pregnant-no"
                            value="false"
                            {% if client_medical_history_form.pregnant.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="pregnant-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, how far along?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.pregnant_time.errors%}is-invalid{%elif client_medical_history_form.pregnant_time.value%}is-valid{%endif%}"
                        name="pregnant_time"
                        value="{{client_medical_history_form.pregnant_time.value|default_if_none:''}}">
                </div>
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Any high risk factors?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.pregnant_factor.errors%}is-invalid{%elif client_medical_history_form.pregnant_factor.value%}is-valid{%endif%}"
                        name="pregnant_factor"
                        value="{{client_medical_history_form.pregnant_factor.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Do you suffer chronic pain ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="chronic_pain"
                            id="chronic_pain-yes"
                            value="true"
                            {% if client_medical_history_form.chronic_pain.value %} checked {%endif%}>
                        <label class="form-check-label" for="chronic_pain-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="chronic_pain"
                            id="chronic_pain-no"
                            value="false"
                            {% if client_medical_history_form.chronic_pain.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="chronic_pain-no">
                            NO
                        </label>
                    </div>
                </div>
                
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please explain?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_detail.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_detail.value%}is-valid{%endif%}"
                        name="chronic_pain_detail"
                        value="{{client_medical_history_form.chronic_pain_detail.value|default_if_none:''}}">
                </div>
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      What makes it better?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_better.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_better.value%}is-valid{%endif%}"
                        name="chronic_pain_better"
                        value="{{client_medical_history_form.chronic_pain_better.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What makes it worse?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_worse.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_worse.value%}is-valid{%endif%}"
                        name="chronic_pain_worse"
                        value="{{client_medical_history_form.chronic_pain_worse.value|default_if_none:''}}">
                </div>



                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Have you had any orthopedic injuries ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="orthopedic_injuries"
                            id="orthopedic_injuries-yes"
                            value="true"
                            {% if client_medical_history_form.orthopedic_injuries.value %} checked {%endif%}>
                        <label class="form-check-label" for="orthopedic_injuries-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="orthopedic_injuries"
                            id="orthopedic_injuries-no"
                            value="false"
                            {% if client_medical_history_form.orthopedic_injuries.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="orthopedic_injuries-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please list
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.orthopedic_injuries_detail.errors%}is-invalid{%elif client_medical_history_form.orthopedic_injuries_detail.value%}is-valid{%endif%}"
                        name="orthopedic_injuries_detail" 
                        rows="5">{{client_medical_history_form.orthopedic_injuries_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please indicate any of the following that apply to you
                    </label>

                    {% for value, label in client_medical_history_form.conditions.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="conditions"
                                id="conditions-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.conditions.value %} checked {% endif %}>
                            <label class="form-check-label" for="conditions-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Explain any condition you have marked above
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.conditions_detail.errors%}is-invalid{%elif client_medical_history_form.conditions_detail.value%}is-valid{%endif%}"
                        name="conditions_detail" 
                        rows="5">{{client_medical_history_form.conditions_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Have you had a professional massage before ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="professional_massage"
                            id="professional_massage-yes"
                            value="true"
                            {% if client_medical_history_form.professional_massage.value %} checked {%endif%}>
                        <label class="form-check-label" for="professional_massage-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="professional_massage"
                            id="professional_massage-no"
                            value="false"
                            {% if client_medical_history_form.professional_massage.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="professional_massage-no">
                            NO
                        </label>
                    </div>
                </div>
                

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What type of massage are you seeking ?
                        
                    </label>
                    {% for value, label in client_medical_history_form.massage_type.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                name="massage_type"
                                id="massage_type-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.massage_type.value %} checked {% endif %}>
                            <label class="form-check-label" for="massage_type-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}
                   
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Other
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.massage_type_other.errors%}is-invalid{%elif client_medical_history_form.massage_type_other.value%}is-valid{%endif%}"
                        name="massage_type_other" 
                        rows="5">{{client_medical_history_form.massage_type_other.value|default_if_none:''}}</textarea>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What pressure do you prefer ?
                    </label>

                    {% for value, label in client_medical_history_form.pressure_preference.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                name="pressure_preference"
                                id="pressure_preference-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.pressure_preference.value %} checked {% endif %}>
                            <label class="form-check-label" for="pressure_preference-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}

                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Do you have any allergies or sensitivities ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="allergies"
                            id="allergies-yes"
                            value="true"
                            {% if client_medical_history_form.allergies.value %} checked {%endif%}>
                        <label class="form-check-label" for="allergies-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="allergies"
                            id="allergies-no"
                            value="false"
                            {% if client_medical_history_form.allergies.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="allergies-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please Explain
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.allergies_detail.errors%}is-invalid{%elif client_medical_history_form.allergies_detail.value%}is-valid{%endif%}"
                        name="allergies_detail" 
                        rows="5">{{client_medical_history_form.allergies_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are there any area (feet, face, abdomen, etc.) you do not want massaged?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="no_massage_area"
                            id="no_massage_area-yes"
                            value="true"
                            {% if client_medical_history_form.no_massage_area.value %} checked {%endif%}>
                        <label class="form-check-label" for="no_massage_area-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="no_massage_area"
                            id="no_massage_area-no"
                            value="false"
                            {% if client_medical_history_form.no_massage_area.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="no_massage_area-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please Explain
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.no_massage_area_detail.errors%}is-invalid{%elif client_medical_history_form.no_massage_area_detail.value%}is-valid{%endif%}"
                        name="no_massage_area_detail" 
                        rows="5">{{client_medical_history_form.no_massage_area_detail.value|default_if_none:''}}</textarea>
                </div>
                
                <div class="g-col-12">
                    <input
                        class="form-control" 
                        id="area_of_soreness" 
                        name="area_of_soreness_hidden" 
                        value="{{client_medical_history_form.area_of_soreness.value|default_if_none:''}}"
                        type="hidden">
                  
                    <input type="file" name="area_of_soreness" style="display: none;">
                    <div class="text-center text-md-start g-col-12 ">
                        <canvas class="js-paint body" style="width: 100%;aspect-ratio: 671 / 452;"></canvas>
                        <button class="btn btn-secondary" style="width:100%" type="button" onclick="clearBodyCanvas()">Reset</button>
                    </div>         
                </div> 

                    
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      What are your goals for this treatment session ?
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.reason_of_visit.errors%}is-invalid{%elif client_medical_history_form.reason_of_visit.value%}is-valid{%endif%}"
                        name="reason_of_visit" 
                        rows="5">{{client_medical_history_form.reason_of_visit.value|default_if_none:''}}</textarea>
                </div>
                

                
                <div class="text-md-start g-col-3">
                    <label  for="signature" 
                            class="form-label fw-semibold">
                            signature <span style="color:red;">*</span>
                    </label>
                    
                    <input
                        class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                        id="id_signature" 
                        name="signature_hidden" 
                        value="{{client_medical_history_form.signature.value|default_if_none:''}}"
                        hidden>
                    <input type="file" name="signature" style="display: none;">
                    
                    <canvas class="js-paint signature" width="300" height="100"></canvas>
                    <button class="btn btn-secondary" style="width:302px" type="button" onclick="clearSignatureCanvas()">Reset</button>
                </div>
                
            </div>



            <div style="margin-top: 40px;">
                <button id="submit-btn" class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>


        </form>

    </div>
</div>


{%endblock%}