{% extends "form/layout.html"%}
{% load filter_tag %}

{% block title %}Client Intake Form{% endblock %}

{%block head_extra%}
<style>
    .colorButtons {
        display: block;
        margin: 20px 0;
    }

    canvas {
        cursor: crosshair;
        border: 1px solid black;
    }

    div#sidebar {
        position: absolute;
        left: 0;
        width: 150px;
        padding: 20px 20px;
        top: 0;
    }

    canvas#canvas {
        left: 150px;
        top: 45px;
    }

    .btn {
        margin-bottom: 10px;
        width: 100%;
    }

    /* input {
        width: 100%;
        margin-bottom: 10px;
    } */

    .input-group {
        margin-bottom: 10px;
    }

    .toolsButtons .btn {
        width: 48%;
    }

    .sizeButtons .btn {
        width: 48%;
    }

    .colorpicker {
        background: transparent;
        height: 40px;
    }

    .js-paint {
        touch-action: none;
    }

    input[type="date"] {
        -webkit-appearance: none;
    }

    .form-control,
    .form-label {
        font-size: 1.5rem;
    }
</style>
{%endblock%}

{%block content%}
<div id="form-card">
    <div class="cutsomer-form-wrapper">
        <div style="margin-bottom: 30px;">

            {% if remedial_form %}
            <div style="color:#2c2c2c; font-size: 16px; margin-bottom: 20px;font-size: 1.5rem;">Please provide at least
                one of the following <b>email</b>, <b>mobile</b> or <b>home phone</b>.</div>
            {% endif %}
            {% if not client_form %}
            <div style="color:#959595;font-size: 1.5rem; "><span style="color:red;font-size: 1.5rem;">*</span> Required
                information</div>
            {% endif %}
            {{client_form.errors}}
            {{detailed_client_form.errors}}
            {{client_medical_history_form.errors}}
            {% for error in client_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
            {% for error in detailed_client_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
            {% for error in client_medical_history_form.non_field_errors %}
            <span style="color:red;font-size: 1.5rem;">{{ error|escape }}</span>
            {% endfor %}
        </div>



        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="grid" style="row-gap: 20px;">
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        First Name
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="text"
                        class="form-control {%if client_form.first_name.errors%}is-invalid{%elif client_form.first_name.value%}is-valid{%endif%}"
                        name="first_name" 
                        value="{{client_form.first_name.value|default_if_none:''}}"
                        maxlength="{{client_form.first_name.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Last Name
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="text"
                        class="form-control {%if client_form.last_name.errors%}is-invalid{%elif client_form.last_name.value%}is-valid{%endif%}"
                        name="last_name" 
                        value="{{client_form.last_name.value|default_if_none:''}}"
                        maxlength="{{client_form.last_name.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Health Insurance Number
                        <span style="color:red;">*</span>
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.health_insurance_number.errors%}is-invalid{%elif client_form.health_insurance_number.value%}is-valid{%endif%}"
                        name="health_insurance_number"
                        value="{{client_form.health_insurance_number.value|default_if_none:''}}"
                        maxlength="{{client_form.health_insurance_number.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Reference Number
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.reference_number.errors%}is-invalid{%elif client_form.reference_number.value%}is-valid{%endif%}"
                        name="reference_number" 
                        value="{{client_form.reference_number.value|default_if_none:''}}"
                        maxlength="{{client_form.reference_number.field.max_length}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Email
                    </label>

                    <input 
                        type="email"
                        class="form-control {%if client_form.email.errors%}is-invalid{%elif client_form.email.value%}is-valid{%endif%}"
                        name="email" 
                        value="{{client_form.email.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        DOB
                    </label>

                    <input 
                        type="date"
                        class="form-control {%if client_form.DOB.errors%}is-invalid{%elif client_form.DOB.value%}is-valid{%endif%}"
                        name="DOB" 
                        value="{{client_form.DOB.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Phone (Day)
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.phone_day.errors%}is-invalid{%elif client_form.phone_day.value%}is-valid{%endif%}"
                        name="phone_day" 
                        value="{{client_form.phone_day.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Phone (Evening)
                    </label>

                    <input 
                        type="number"
                        class="form-control {%if client_form.phone_night.errors%}is-invalid{%elif client_form.phone_evening.value%}is-valid{%endif%}"
                        name="phone_night" 
                        value="{{client_form.phone_night.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Address
                    </label>
                    {{detailed_client_form.address.errors}}
                    <input 
                        type="text"
                        class="form-control {%if detailed_client_form.address.errors%}is-invalid{%elif detailed_client_form.address.value%}is-valid{%endif%}"
                        name="address" 
                        value="{{detailed_client_form.address.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Suburb
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.suburb.errors%}is-invalid{%elif detailed_client_form.suburb.value%}is-valid{%endif%}"
                        name="suburb" value="{{detailed_client_form.suburb.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        State
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.state.errors%}is-invalid{%elif detailed_client_form.state.value%}is-valid{%endif%}"
                        name="state" value="{{detailed_client_form.state.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Post Code
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.post_code.errors%}is-invalid{%elif detailed_client_form.post_code.value%}is-valid{%endif%}"
                        name="post_code" value="{{detailed_client_form.post_code.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Occupation
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.occupation.errors%}is-invalid{%elif detailed_client_form.occupation.value%}is-valid{%endif%}"
                        name="occupation" value="{{detailed_client_form.occupation.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Employer
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.employer.errors%}is-invalid{%elif detailed_client_form.employer.value%}is-valid{%endif%}"
                        name="employer" value="{{detailed_client_form.employer.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Primary Physician
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.primary_physician.errors%}is-invalid{%elif detailed_client_form.primary_physician.value%}is-valid{%endif%}"
                        name="primary_physician"
                        value="{{detailed_client_form.primary_physician.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Emergency Contact Name
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_name.errors%}is-invalid{%elif detailed_client_form.emergency_contact_name.value%}is-valid{%endif%}"
                        name="emergency_contact_name"
                        value="{{detailed_client_form.emergency_contact_name.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Emergency Contact Number
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_number.errors%}is-invalid{%elif detailed_client_form.emergency_contact_number.value%}is-valid{%endif%}"
                        name="emergency_contact_number"
                        value="{{detailed_client_form.emergency_contact_number.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Relationship
                    </label>

                    <input type="text"
                        class="form-control {%if detailed_client_form.emergency_contact_relation.errors%}is-invalid{%elif detailed_client_form.emergency_contact_relation.value%}is-valid{%endif%}"
                        name="emergency_contact_relation"
                        value="{{detailed_client_form.emergency_contact_relation.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        How did you hear about us?
                    </label>
                    <textarea
                        class="form-control {%if detailed_client_form.hear_about_us.errors%}is-invalid{%elif detailed_client_form.hear_about_us.value%}is-valid{%endif%}"
                        name="hear_about_us" rows="5">{{detailed_client_form.hear_about_us.value|default_if_none:''}}</textarea>
                </div>



                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are you taking any medication ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="medication"
                            id="medication-yes"
                            value="true"
                            {% if client_medical_history_form.medication.value %} checked {%endif%}>

                        <label class="form-check-label" for="medication-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="medication"
                            id="medication-no"
                            value="false"
                            {% if client_medical_history_form.medication.value is False %} checked {%endif%}>

                        <label class="form-check-label" for="medication-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please list name and use
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.medication_detail.errors%}is-invalid{%elif client_medical_history_form.medication_detail.value%}is-valid{%endif%}"
                        name="medication_detail" 
                        rows="5">{{client_medical_history_form.medication_detail.value|default_if_none:''}}</textarea>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are you currently pregnant ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="pregnant"
                            id="pregnant-yes"
                            value="true"
                            {% if client_medical_history_form.pregnant.value %} checked {%endif%}>
                        <label class="form-check-label" for="pregnant-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="pregnant"
                            id="pregnant-no"
                            value="false"
                            {% if client_medical_history_form.pregnant.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="pregnant-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, how far along?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.pregnant_time.errors%}is-invalid{%elif client_medical_history_form.pregnant_time.value%}is-valid{%endif%}"
                        name="pregnant_time"
                        value="{{client_medical_history_form.pregnant_time.value|default_if_none:''}}">
                </div>
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Any high risk factors?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.pregnant_factor.errors%}is-invalid{%elif client_medical_history_form.pregnant_factor.value%}is-valid{%endif%}"
                        name="pregnant_factor"
                        value="{{client_medical_history_form.pregnant_factor.value|default_if_none:''}}">
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Do you suffer chronic pain ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="chronic_pain"
                            id="chronic_pain-yes"
                            value="true"
                            {% if client_medical_history_form.chronic_pain.value %} checked {%endif%}>
                        <label class="form-check-label" for="chronic_pain-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="chronic_pain"
                            id="chronic_pain-no"
                            value="false"
                            {% if client_medical_history_form.chronic_pain.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="chronic_pain-no">
                            NO
                        </label>
                    </div>
                </div>
                
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please explain?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_detail.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_detail.value%}is-valid{%endif%}"
                        name="chronic_pain_detail"
                        value="{{client_medical_history_form.chronic_pain_detail.value|default_if_none:''}}">
                </div>
                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      What makes it better?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_better.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_better.value%}is-valid{%endif%}"
                        name="chronic_pain_better"
                        value="{{client_medical_history_form.chronic_pain_better.value|default_if_none:''}}">
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What makes it worse?
                    </label>
                    <input
                        type="text"
                        class="form-control {%if client_medical_history_form.chronic_pain_worse.errors%}is-invalid{%elif client_medical_history_form.chronic_pain_worse.value%}is-valid{%endif%}"
                        name="chronic_pain_worse"
                        value="{{client_medical_history_form.chronic_pain_worse.value|default_if_none:''}}">
                </div>



                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Have you had any orthopedic injuries ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="orthopedic_injuries"
                            id="orthopedic_injuries-yes"
                            value="true"
                            {% if client_medical_history_form.orthopedic_injuries.value %} checked {%endif%}>
                        <label class="form-check-label" for="orthopedic_injuries-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="orthopedic_injuries"
                            id="orthopedic_injuries-no"
                            value="false"
                            {% if client_medical_history_form.orthopedic_injuries.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="orthopedic_injuries-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      If yes, please list
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.orthopedic_injuries_detail.errors%}is-invalid{%elif client_medical_history_form.orthopedic_injuries_detail.value%}is-valid{%endif%}"
                        name="orthopedic_injuries_detail" 
                        rows="5">{{client_medical_history_form.orthopedic_injuries_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please indicate any of the following that apply to you
                    </label>

                    {% for value, label in client_medical_history_form.conditions.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="conditions"
                                id="conditions-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.conditions.value %} checked {% endif %}>
                            <label class="form-check-label" for="conditions-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Explain any condition you have marked above
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.conditions_detail.errors%}is-invalid{%elif client_medical_history_form.conditions_detail.value%}is-valid{%endif%}"
                        name="conditions_detail" 
                        rows="5">{{client_medical_history_form.conditions_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Have you had a professional massage before ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="professional_massage"
                            id="professional_massage-yes"
                            value="true"
                            {% if client_medical_history_form.professional_massage.value %} checked {%endif%}>
                        <label class="form-check-label" for="professional_massage-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="professional_massage"
                            id="professional_massage-no"
                            value="false"
                            {% if client_medical_history_form.professional_massage.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="professional_massage-no">
                            NO
                        </label>
                    </div>
                </div>
                

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What type of massage are you seeking ?
                        
                    </label>
                    {% for value, label in client_medical_history_form.massage_type.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                name="massage_type"
                                id="massage_type-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.massage_type.value %} checked {% endif %}>
                            <label class="form-check-label" for="massage_type-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}
                   
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Other
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.massage_type_other.errors%}is-invalid{%elif client_medical_history_form.massage_type_other.value%}is-valid{%endif%}"
                        name="massage_type_other" 
                        rows="5">{{client_medical_history_form.massage_type_other.value|default_if_none:''}}</textarea>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        What pressure do you prefer ?
                    </label>

                    {% for value, label in client_medical_history_form.pressure_preference.field.choices %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                name="pressure_preference"
                                id="pressure_preference-{{value}}"
                                value="{{value}}"
                                {% if value in client_medical_history_form.pressure_preference.value %} checked {% endif %}>
                            <label class="form-check-label" for="pressure_preference-{{value}}">
                                {{label}}
                            </label>
                        </div>
                    {% endfor %}

                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Do you have any allergies or sensitivities ?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="allergies"
                            id="allergies-yes"
                            value="true"
                            {% if client_medical_history_form.allergies.value %} checked {%endif%}>
                        <label class="form-check-label" for="allergies-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="allergies"
                            id="allergies-no"
                            value="false"
                            {% if client_medical_history_form.allergies.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="allergies-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please Explain
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.allergies_detail.errors%}is-invalid{%elif client_medical_history_form.allergies_detail.value%}is-valid{%endif%}"
                        name="allergies_detail" 
                        rows="5">{{client_medical_history_form.allergies_detail.value|default_if_none:''}}</textarea>
                </div>


                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                        Are there any area (feet, face, abdomen, etc.) you do not want massaged?
                    </label>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="no_massage_area"
                            id="no_massage_area-yes"
                            value="true"
                            {% if client_medical_history_form.no_massage_area.value %} checked {%endif%}>
                        <label class="form-check-label" for="no_massage_area-yes">
                            YES
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="no_massage_area"
                            id="no_massage_area-no"
                            value="false"
                            {% if client_medical_history_form.no_massage_area.value is False %} checked {%endif%}>
                        <label class="form-check-label" for="no_massage_area-no">
                            NO
                        </label>
                    </div>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      Please Explain
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.no_massage_area_detail.errors%}is-invalid{%elif client_medical_history_form.no_massage_area_detail.value%}is-valid{%endif%}"
                        name="no_massage_area_detail" 
                        rows="5">{{client_medical_history_form.no_massage_area_detail.value|default_if_none:''}}</textarea>
                </div>

                <div class="g-col-12">
                    <label class="form-label fw-semibold">
                      What are your goals for this treatment session ?
                    </label>
                    <textarea
                        class="form-control {%if client_medical_history_form.reason_of_visit.errors%}is-invalid{%elif client_medical_history_form.reason_of_visit.value%}is-valid{%endif%}"
                        name="reason_of_visit" 
                        rows="5">{{client_medical_history_form.reason_of_visit.value|default_if_none:''}}</textarea>
                </div>
                

                
                <div class="text-md-start g-col-3">
                    <label  for="signature" 
                            class="form-label fw-semibold">
                            signature <span style="color:red;">*</span>
                    </label>
                    
                    <input
                        class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                        id="signature" 
                        name="signature" 
                        value="{{client_medical_history_form.signature.value|default_if_none:''}}"
                        hidden>

                    <canvas class="js-paint signature" width="300" height="100"></canvas>
                    <button class="btn btn-secondary" style="width:302px" type="button" onclick="clearSignatureCanvas()">Reset</button>
                </div>
                
            </div>



            <div style="margin-top: 40px;">
                <button id="submit-btn" class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>


        </form>

    </div>
</div>


<script>

    $("form").on('submit', function () {
        // disable button
        $("#submit-btn").prop("disabled", true);
        // add spinner to button
        $("#submit-btn").html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
    })


    let frontBackCanvas = {
        frontDataUrl: "",
        backDataUrl: "",
    }
    let signature = $("#id_signature").val();



    if ($("#id_area_of_soreness_front").val()) {
        frontBackCanvas.frontDataUrl = $("#id_area_of_soreness_front").val()
    }

    if ($("#id_area_of_soreness_back").val()) {
        frontBackCanvas.backDataUrl = $("#id_area_of_soreness_back").val()
    }

    // define canvas
    const frontCanvas = document.querySelector('.js-paint.front')
    const frontContext = frontCanvas.getContext('2d')
    frontContext.lineCap = 'round';
    frontContext.strokeStyle = '#000000';
    frontContext.lineWidth = 1;

    const backCanvas = document.querySelector('.js-paint.back')
    const backContext = backCanvas.getContext('2d')
    backContext.lineCap = 'round';
    backContext.strokeStyle = '#000000';
    backContext.lineWidth = 1;


    const signatureCanvas = document.querySelector('.js-paint.signature')
    const signatureContext = signatureCanvas.getContext('2d')
    signatureContext.lineCap = 'round';
    signatureContext.strokeStyle = '#000000';
    signatureContext.lineWidth = 1;


    // load image
    let originalFrontImage = new Image();
    let originalBackImage = new Image();

    originalFrontImage.src = '/static/img/front_body.png';
    originalBackImage.src = '/static/img/back_body.png';

    let frontImage = new Image();
    let backImage = new Image();
    frontImage.src = frontBackCanvas.frontDataUrl != "" ? frontBackCanvas.frontDataUrl : originalFrontImage.src;
    backImage.src = frontBackCanvas.backDataUrl != "" ? frontBackCanvas.backDataUrl : originalBackImage.src;

    frontImage.onload = function () {
        frontContext.drawImage(frontImage, 0, 0, 300, 600);
    }

    backImage.onload = function () {
        backContext.drawImage(backImage, 0, 0, 300, 600);
    }

    if (signature) {

        let signatureImage = new Image();
        signatureImage.src = signature

        signatureImage.onload = function () {
            signatureContext.drawImage(signatureImage, 0, 0, 300, 100)
        }

    }

    // initialize state 
    let x = 0, y = 0;
    let isMouseDown = false;
    let isBack = false;
    let isFront = false;
    let isSignature = false;
    let pointerAmount = []

    const stopDrawing = () => {

        if (isMouseDown) {
            frontBackCanvas.backDataUrl = backCanvas.toDataURL()
            frontBackCanvas.frontDataUrl = frontCanvas.toDataURL()
            isMouseDown = false;
            if (isBack) {
                $("#id_area_of_soreness_back").val(frontBackCanvas.backDataUrl)
            } else if (isFront) {
                $("#id_area_of_soreness_front").val(frontBackCanvas.frontDataUrl)
            } else if (isSignature) {
                $("#id_signature").val(signatureCanvas.toDataURL())
            }
            isBack = false;
            isFront = false;
            isSignature = false;
            pointerAmount = [];






        }
    }

    const startDrawing = event => {
        isMouseDown = true;
        [x, y] = [event.offsetX, event.offsetY];
    }

    const drawingFront = event => {
        pointerAmount.push(event)

        let eventAmount = 0
        for (let i = 0; i < pointerAmount.length; i++) {
            if (event instanceof PointerEvent) {
                eventAmount++
            }
        }

        // if(eventAmount > 1){
        //     frontCanvas.style.touchAction = "auto"
        //     isMouseDown = false; 
        // }else{

        // }
        frontCanvas.style.touchAction = "None"
        isFront = true

    }

    const drawingBack = event => {
        pointerAmount.push(event)

        let eventAmount = 0
        for (let i = 0; i < pointerAmount.length; i++) {
            if (event instanceof PointerEvent) {
                eventAmount++
            }
        }

        // if(eventAmount > 1){
        //     backCanvas.style.touchAction = "auto"
        //     isMouseDown = false; 
        // }else{

        // }

        backCanvas.style.touchAction = "None"
        isBack = true
    }

    const drawingSignature = event => {
        pointerAmount.push(event)

        let eventAmount = 0
        for (let i = 0; i < pointerAmount.length; i++) {
            if (event instanceof PointerEvent) {
                eventAmount++
            }
        }

        signatureCanvas.style.touchAction = "None"
        isSignature = true

        // if(eventAmount > 1){
        //     signatureCanvas.style.touchAction = "auto"
        //     isMouseDown = false; 
        // }else{

        // }
    }


    const drawLine = event => {
        if (isMouseDown) {
            const newX = event.offsetX;
            const newY = event.offsetY;

            let context;

            if (isFront) {
                context = frontContext
            } else if (isBack) {
                context = backContext
            } else {
                context = signatureContext
            }

            context.beginPath();
            context.moveTo(x, y);
            context.lineTo(newX, newY);
            context.stroke();
            x = newX;
            y = newY;
        }
    }


    frontCanvas.addEventListener('mousedown', startDrawing);
    frontCanvas.addEventListener('mousedown', drawingFront);
    frontCanvas.addEventListener('mousemove', drawLine);
    frontCanvas.addEventListener('mouseup', stopDrawing);
    frontCanvas.addEventListener('mouseout', stopDrawing);

    backCanvas.addEventListener('mousedown', startDrawing);
    backCanvas.addEventListener('mousedown', drawingBack);
    backCanvas.addEventListener('mousemove', drawLine);
    backCanvas.addEventListener('mouseup', stopDrawing);
    backCanvas.addEventListener('mouseout', stopDrawing);

    signatureCanvas.addEventListener('mousedown', startDrawing);
    signatureCanvas.addEventListener('mousedown', drawingSignature);
    signatureCanvas.addEventListener('mousemove', drawLine);
    signatureCanvas.addEventListener('mouseup', stopDrawing);
    signatureCanvas.addEventListener('mouseout', stopDrawing);

    frontCanvas.addEventListener('pointerdown', startDrawing);
    frontCanvas.addEventListener('pointerdown', drawingFront);
    frontCanvas.addEventListener('pointermove', drawLine);
    frontCanvas.addEventListener('pointerup', stopDrawing);
    frontCanvas.addEventListener('pointerout', stopDrawing);

    backCanvas.addEventListener('pointerdown', startDrawing);
    backCanvas.addEventListener('pointerdown', drawingBack);
    backCanvas.addEventListener('pointermove', drawLine);
    backCanvas.addEventListener('pointerup', stopDrawing);
    backCanvas.addEventListener('pointerout', stopDrawing);

    signatureCanvas.addEventListener('pointerdown', startDrawing);
    signatureCanvas.addEventListener('pointerdown', drawingSignature);
    signatureCanvas.addEventListener('pointermove', drawLine);
    signatureCanvas.addEventListener('pointerup', stopDrawing);
    signatureCanvas.addEventListener('pointerout', stopDrawing);

    function clearFrontCanvas() {



        frontContext.clearRect(0, 0, 300, 600)
        frontContext.drawImage(originalFrontImage, 0, 0, 300, 600);

        frontBackCanvas.frontDataUrl = frontCanvas.toDataURL()
        $("#id_area_of_soreness_front").val("")
    }

    function clearBackCanvas() {

        backContext.clearRect(0, 0, 300, 600)
        backContext.drawImage(originalBackImage, 0, 0, 300, 600);
        frontBackCanvas.backDataUrl = backCanvas.toDataURL()
        $("#id_area_of_soreness_back").val("")
    }

    function clearSignatureCanvas() {
        signatureContext.clearRect(0, 0, 300, 100)
        $("#id_signature").val("")
    }
</script>
{%endblock%}