{% extends "form/layout.html"%}
{% load filter_tag %}

{% block title %}Client Intake Form{% endblock %}

{%block head_extra%}
<style>
    .colorButtons {
        display: block;
        margin: 20px 0;
    }

    canvas {
        cursor: crosshair;
        border: 1px solid black;
    }

    div#sidebar {
        position: absolute;
        left: 0;
        width: 150px;
        padding: 20px 20px;
        top: 0;
    }

    canvas#canvas {
        left: 150px;
        top: 45px;
    }

    .btn {
        margin-bottom: 10px;
        width: 100%;
    }
    /* input {
        width: 100%;
        margin-bottom: 10px;
    } */

    .input-group {
        margin-bottom: 10px;
    }

    .toolsButtons .btn {
        width: 48%;
    }

    .sizeButtons .btn {
        width: 48%;
    }

    .colorpicker {
        background: transparent;
        height: 40px;
    }

    .js-paint{
        touch-action:none;
    }

    input[type="date"]{ 
        -webkit-appearance: none;
    }
</style>
<!-- {{ form.media }} -->
{%endblock%}

{%block content%}
<div id="form-card">
    <div class="cutsomer-form-wrapper">
        <div style="margin-bottom: 30px;">
            <div style="color:#959595; font-size: 12px; ">* Required information</div>
            {% for error in client_form.non_field_errors %}
                    <span style="color:red">{{ error|escape }}</span>
            {% endfor %}
            {% for error in remedial_form.non_field_errors %}
                    <span style="color:red">{{ error|escape }}</span>
            {% endfor %}
            {% for error in remedial_history_form.non_field_errors %}
                    <span style="color:red">{{ error|escape }}</span>
            {% endfor %}
        </div>
        
        



        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="grid"  style="row-gap: 20px;">
                
                
                {% for field in client_form %}
                    
                    <div class="g-col-12 g-col-md-6">
                        <label  for="{{ field.id_for_label }}" 
                                class="form-label fw-semibold">
                                {{field.label}}

                                {% if field.field.required %}
                                    <span style="color:red;">*</span>
                                {% endif %}

                        </label>
                        
                        <input  type="{{ field.field.widget.input_type }}" 
                                class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                                id="{{ field.id_for_label }}" 
                                name="{{field.html_name}}" 
                                value="{{field.value|default_if_none:''}}"
                                maxlength="{{field.field.max_length}}">
                        
                        {% if field.errors %} 
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}    
                    </div>

                {% endfor %}

                {% for field in remedial_form %}
                    
                    <div class="g-col-12 g-col-md-6">
                        <label  for="{{ field.id_for_label }}" 
                                class="form-label fw-semibold">
                                {{field.label}}

                                {% if field.field.required %}
                                    <span style="color:red;">*</span>
                                {% endif %}

                        </label>

                        {%if field|fieldtype == "Select" %}
                            <select type="{{ field.field.widget.input_type }}" 
                                    class="form-select" 
                                    id="{{ field.id_for_label }}" 
                                    name="{{field.html_name}}" 
                                    value="{{field.value|default_if_none:''}}"
                                    maxlength="{{field.field.max_length}}">
                                {% for value, label in field.field.widget.choices %}
                                <option value="{{value}}">{{label}}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input  type="{{ field.field.widget.input_type }}" 
                                class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                                id="{{ field.id_for_label }}" 
                                name="{{field.html_name}}" 
                                value="{{field.value|default_if_none:''}}"
                                maxlength="{{field.field.max_length}}">
                        {%endif%}
                        
                        
                        {% if field.errors %} 
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        {% endif %}    
                    </div>
                    
                {% endfor %}


                {% for field in remedial_history_form %}
                    {% if field.field.choices %}
                        <div class="g-col-12 fw-semibold"> Please tick if you have any following symptoms / conditions </div>
                        {% for value, text in field.field.choices %}
                            <div class="form-check g-col-6 g-col-sm-6 g-col-md-6 g-col-xl-3">
                                <input class="form-check-input" id="id_providers_{{ forloop.counter0 }}" name="{{ field.name }}" type="checkbox" value="{{ value }}">
                                <label class="form-check-label" for="id_providers_{{ forloop.counter0 }}">{{ text }}</label>
                            </div>
                        {% endfor %}
                    
                    {% elif field.field.widget.attrs.input_type == "textarea" %}
                        <div class="g-col-12 ">
                            <label  for="{{ field.id_for_label }}" 
                                    class="form-label fw-semibold">
                                    {{field.label}}

                                    {% if field.field.required %}
                                        <span style="color:red;">*</span>
                                    {% endif %}

                            </label>
                            
                            <textarea
                                    class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                                    id="{{ field.id_for_label }}" 
                                    name="{{field.html_name}}" 
                                    value=""
                                    rows="{{ field.field.widget.attrs.rows }}"
                                    maxlength="{{field.field.max_length}}"
                                    {% if field.field.widget.attrs.sore_area or field.field.widget.attrs.signature %}hidden{% endif %}>{{field.value|default_if_none:''}}</textarea>
                            
                            {% if field.errors %} 
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}    

                            
                        </div>

                        {% if field.field.widget.attrs.sore_area %}
                           
                            <div class="text-center text-md-start g-col-12 g-col-md-6 g-col-lg-5 g-start-lg-1 g-col-xl-4 g-start-xl-1" style="margin-top:-20px; margin-bottom: 20px;">
                                <canvas class="js-paint front" width="300" height="600"></canvas>
                                <button class="btn btn-secondary" style="width:302px" type="button">Reset</button>

                            </div>

                            <div class="text-center text-md-end g-col-12 g-col-md-6 g-col-lg-5 g-start-lg-8 g-col-xl-4 g-start-xl-9" style="margin-top:-20px">
                                <canvas class="js-paint back" width="300" height="600"></canvas>
                                <button class="btn btn-secondary" style="width:302px" type="button">Reset</button>
                            </div>
                            
                                
                        {% elif field.field.widget.attrs.signature  %}
                            <div class="text-md-start g-col-2" style="margin-top:-20px">
                                <canvas class="js-paint back" width="300" height="70"></canvas>
                                <button class="btn btn-secondary" style="width:302px" type="button">Reset</button>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="g-col-12 g-col-md-6">
                            <label  for="{{ field.id_for_label }}" 
                                    class="form-label fw-semibold">
                                    {{field.label}}

                                    {% if field.field.required %}
                                        <span style="color:red;">*</span>
                                    {% endif %}

                            </label>
                            
                            <input  type="{{ field.field.widget.input_type }}" 
                                    class="form-control {%if field.errors%}is-invalid{%elif field.value%}is-valid{%endif%}" 
                                    id="{{ field.id_for_label }}" 
                                    name="{{field.html_name}}" 
                                    value="{{field.value|default_if_none:''}}"
                                    maxlength="{{field.field.max_length}}">
                            
                            {% if field.errors %} 
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}    
                        </div>
                        
                    {% endif %}
                    
                {% endfor %}
                
                
                <!-- <div class="g-col-12"></div>
                    <input type="file" style="width: 80px;" accept="image/*;capture=camera">
                </div> -->
            </div>

            

            <div style="margin-top: 40px;">
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>


        </form>
        
    </div>
</div>


<script>

    // define canvas
    const frontCanvas = document.querySelector('.js-paint.front')
    const frontContext = frontCanvas.getContext('2d')
    frontContext.lineCap = 'round';
    frontContext.strokeStyle = '#000000'; 
    frontContext.lineWidth = 1;
    
    const backCanvas = document.querySelector('.js-paint.back')
    const backContext = backCanvas.getContext('2d')
    backContext.lineCap = 'round';
    backContext.strokeStyle = '#000000'; 
    backContext.lineWidth = 1;

    
    // load image
    let frontImage = new Image();
    let backImage = new Image();
    frontImage.src = '../static/img/front_body.png';
    backImage.src = '../static/img/back_body.png';


    frontImage.onload = function(){
        frontContext.drawImage(frontImage, 0, 0, 300 ,600);
    }

    backImage.onload = function(){
        backContext.drawImage(backImage, 0, 0, 300 ,600);
    }
    

    // initialize state 
    let x = 0, y = 0;
    let isMouseDown = false;
    let isBack = false;
    let isFront = false;
    let pointerAmount = []

    const stopDrawing = () => { 
        isMouseDown = false; 
        isBack = false; 
        isFront=false;
        pointerAmount = [];
    }

    const startDrawing = event => {
        isMouseDown = true;   
        [x, y] = [event.offsetX, event.offsetY];  
    }

    const drawingFront = event => {
        pointerAmount.push(event)

        let eventAmount = 0
        for(let i = 0 ; i < pointerAmount.length; i++){
            if(event instanceof PointerEvent){
                eventAmount ++
            }
        }

        if(eventAmount > 1){
            frontCanvas.style.touchAction = "auto"
            isMouseDown = false; 
        }else{
            frontCanvas.style.touchAction = "None"
            isFront = true
        }
        
    }

    const drawingBack = event => {
        pointerAmount.push(event)

        let eventAmount = 0
        for(let i = 0 ; i < pointerAmount.length; i++){
            if(event instanceof PointerEvent){
                eventAmount ++
            }
        }

        if(eventAmount > 1){
            backCanvas.style.touchAction = "auto"
            isMouseDown = false; 
        }else{
            backCanvas.style.touchAction = "None"
            isBack = true
        }
    }

    const drawLine = event => {
        if ( isMouseDown ) {
            const newX = event.offsetX;
            const newY = event.offsetY;

            let context;

            if(isFront){
                context = frontContext
            }else{
                context = backContext
            }
            
            context.beginPath();
            context.moveTo( x, y );
            context.lineTo( newX, newY );
            context.stroke();
            
            x = newX;
            y = newY;
        }
    }

    
    frontCanvas.addEventListener( 'mousedown', startDrawing );
    frontCanvas.addEventListener( 'mousedown', drawingFront );
    frontCanvas.addEventListener( 'mousemove', drawLine );
    frontCanvas.addEventListener( 'mouseup', stopDrawing );
    frontCanvas.addEventListener( 'mouseout', stopDrawing );

    backCanvas.addEventListener( 'mousedown', startDrawing );
    backCanvas.addEventListener( 'mousedown', drawingBack );
    backCanvas.addEventListener( 'mousemove', drawLine );
    backCanvas.addEventListener( 'mouseup', stopDrawing );
    backCanvas.addEventListener( 'mouseout', stopDrawing );

    frontCanvas.addEventListener( 'pointerdown', startDrawing );
    frontCanvas.addEventListener( 'pointerdown', drawingFront );
    frontCanvas.addEventListener( 'pointermove', drawLine );
    frontCanvas.addEventListener( 'pointerup', stopDrawing );
    frontCanvas.addEventListener( 'pointerout', stopDrawing );

    backCanvas.addEventListener( 'pointerdown', startDrawing );
    backCanvas.addEventListener( 'pointerdown', drawingBack );
    backCanvas.addEventListener( 'pointermove', drawLine );
    backCanvas.addEventListener( 'pointerup', stopDrawing );
    backCanvas.addEventListener( 'pointerout', stopDrawing );


</script>
{%endblock%}
